@import './base/settings';
@import './base/base';

//Components
@import './components/auth';
@import './components/buttons';
@import './components/links';
@import './components/journal';
@import './components/nothing';
@import './components/notes';

body::-webkit-scrollbar {
    width:7px;
    background: white;
    border-radius: 5px;
}

.body::-webkit-scrollbar-thumb {
    background: #5C62C5;
    border-radius: 5px;
    border-right: 2px red;
}